//
// Form Control
//

// Form control
.form-control {
  background-color: $light;
  box-shadow: none !important;

  // Dropdown shown state
  .dropdown.show > & {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
  }

  // Readonly state
  &[readonly] {
    background-color: $input-readonly-bg;
  }



  // Solid style
  &.form-control-solid {
    background-color: $input-solid-bg;
    border-color: $input-solid-bg;
    @include placeholder($input-solid-placeholder-color);
    color: $input-solid-color;
    transition: $transition-input;

    .dropdown.show > &,
    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: $input-solid-bg-focus;
      border-color: $input-solid-bg-focus;
      color: $input-solid-color;
      transition: $transition-input;
    }
    &[disabled] {
      color: $gray-600; 
      opacity: 80%;
      cursor: not-allowed;
      // &:hover {
      //   cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16"><path d="M3.647 11.708a6.5 6.5 0 1 0 1.647 1.647A6.5 6.5 0 0 0 3.647 11.708zm-.864-.864A6.5 6.5 0 0 0 1.222 8h2.56a4.5 4.5 0 1 1 0 1.647H2.784zm.864-5.98a6.5 6.5 0 0 0 1.647 1.647A6.5 6.5 0 0 0 2.784 4.863zm.864 5.98h2.558A4.5 4.5 0 1 1 4.648 8zm-.864.864A6.5 6.5 0 0 0 8 14.778V12.22a4.5 4.5 0 1 1-1.648 0v2.558zm5.98-.864a6.5 6.5 0 0 0-1.647-1.647A6.5 6.5 0 0 0 13.216 8h2.558a4.5 4.5 0 1 1 0 1.647zm.864-5.98h-2.56a4.5 4.5 0 1 1 0-1.647h2.56a6.5 6.5 0 0 0-1.647 1.647zM8 1.222v2.558A4.5 4.5 0 1 1 8 1.222zM4.648 8H2.784a6.5 6.5 0 0 0 1.647-1.647A6.5 6.5 0 0 0 4.648 8zm.864.864a4.5 4.5 0 1 1 0-1.647h2.56a6.5 6.5 0 0 0-1.647 1.647zM8 13.778a4.5 4.5 0 1 1 0-8.556V3.222a6.5 6.5 0 0 0 0 7.556v2.558zm3.353-3.353a6.5 6.5 0 0 0 0-3.294A6.5 6.5 0 0 0 13.216 8h2.558a4.5 4.5 0 0 1 0-1.647H13.22zm-.864.864A6.5 6.5 0 0 0 8 1.222v2.558A4.5 4.5 0 0 1 12.48 8h2.56zm-3.294 3.353a6.5 6.5 0 0 0-3.294 0 6.5 6.5 0 0 0 3.294 0z"/></svg>'), not-allowed;
      // }
    }
  }

  // White style
  &.form-control-white {
    background-color: $body-bg;
    border-color: $body-bg;

    .dropdown.show > &,
    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: $body-bg;
      border-color: $body-bg;
    }
  }

  // Flush
  &.form-control-flush {
    @include input-reset();
  }
}

// Placeholder colors
.placeholder-gray-500 {
  @include placeholder($gray-500);
}

.placeholder-white {
  @include placeholder($white);
}

// Textarea reset resize
.resize-none {
  resize: none;
}
