//
// Theme style
//
:root{
  --theme-mode: dark
}
// Mode
$mode: default;

// Initialize
@import 'init';

// Components
@import './core/components/components';
@import 'components/components';

// Layout
@import 'layout/layout';
@import './core/layout/docs/layout';

.table > :not(:first-child){
    border-top: none !important;
}
.fv-help-block {
    color: $danger !important;
}

.b-ground {
  background-color: aquamarine;
}